/* SCTO Grotesk A - Primary font for Unknown, Untitled */
@font-face {
  font-family: SCTO;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/scto-grotesk-a-light.woff2') format('woff2'),
    url('../fonts/scto-grotesk-a-light.woff') format('woff');
}
