.cards-portfolio > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gutter, 10px);
}

.cards-portfolio > ul > li {
  border: none;
  background-color: transparent;
  overflow: hidden;
}

.cards-portfolio .cards-portfolio-card-body {
  padding: 8px 0;
  font-size: var(--body-font-size-xs);
}

.cards-portfolio .cards-portfolio-card-body a {
  color: var(--text-color);
  text-decoration: none;
}

.cards-portfolio .cards-portfolio-card-image {
  line-height: 0;
}

.cards-portfolio > ul > li img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

@media (width >= 600px) {
  .cards-portfolio > ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
